@font-face {
  font-family: 'Main Font';
  src: url('../Fonts/Joan-Regular.ttf');
}

.grid_header {
  position: sticky;
  display: grid; 
  grid-template-columns: 0.5fr 1.4fr 2.0fr; 
  gap: 0px 0px;

  .grid_logo {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
  }
  .logo {
    width: 100px; 
    height: 100px;
    position: relative;
    top: 0px;
    left: 0px;
  }

  

  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;   
    font-size: 24px;
    font-weight: 500px;
    font-family: 'Main Font';
    color: rgb(195, 220, 229);
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in-out;
    
  }
  a:hover {
    transform: scale(1.3);
  }
}


.background {
  background-color: #0A0728;
}

