.grid_page {
  height: 100vh;
  display: grid;    
  grid-template-rows: 0.25fr 2.55fr 0.2fr; 
  gap: 0px 0px; 
}

.grid_main {
  display: grid;
  grid-template-columns: 0.45fr 1fr;
  gap: 0px 0px;
}

.chat_container {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}

.friend_list {
  display: flex;
  flex-direction: column;
}
